:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.input{
    position: relative;
}
div.input label{
position:absolute;
top:0;
transform: translateY(-50%);
left: 10px;
background:white;
padding:10px 2px;
}
div.input input{
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}
div.input{
    margin-top: 20px;
}